.reg_div {
	label {
		float: left;
	}
}
.photos {
  padding: 0;
  li {
		float: left;
		list-style: none;
		margin: 5px;
  }
  li:first-child {
  	margin-left: 0;
  }
  li div {
		width: 160px;
		height: 150px;
		border: 1px solid #ccc;
		overflow: hidden;
		line-height: 148px;
		text-align: center;
		background: #eee;
  }
  .addphoto div {
		border: 2px dashed #ccc;
		font-size: 13em;
		color: #eee;
		background: #fff;
		cursor: pointer;
  }
}
.output {
	border: 1px solid #ccc;
	.img {
		width: 100px;
	}
}
.users {
  border-bottom: 1px solid #ccc;
}
.users:last-child {
  border-bottom: 0;
 }
 	.pages {
		height: 40px;
		margin: auto;
		li {
			list-style: none;
			float: left;
			width: 34px;
			height: 34px;
			color: #777;
			margin-left: -1px;
			line-height: 34px;
			text-align: center;
			border: 1px solid #ccc;
			transition: .3s;
		}
		li:hover {
			cursor: pointer;
		}
	}
