<%- include templates/header %>
<style> #testactive{background:#333} </style>
	<h3>这是一个node测试demo</h3>
	<p>包含功能：</p>
	<ul>
		<li>聊天室</li>
		<li>小游戏</li>
		<li>上传图片</li>
		<li>上传文本</li>
	</ul>
	<p>我的github：</p>
	<a href="https://github.com/amenging" target="_blank">https://github.com/amenging</a>
	<p>我的博客：</p>
	<a href="https://amenging.netlify.com/" target="_blank">https://amenging.netlify.com/</a>
        
  <div style="position: absolute;right: 0;bottom: 0;">
    <canvas id="glcanvas" width="200" height="200"> </canvas>
  </div>

	<script src="/js/live2d/live2d.min.js"></script>
        
  <!-- Live2D Framework -->
  <script src="/js/live2d/Live2DFramework.js"></script>
  
  <!-- User's Script -->
  <script src="/js/live2d/utils/MatrixStack.js"></script>
  <script src="/js/live2d/utils/ModelSettingJson.js"></script>
  <script src="/js/live2d/PlatformManager.js"></script>
  <script src="/js/live2d/LAppDefine.js"></script>
  <script src="/js/live2d/LAppModel.js"></script>
  <script src="/js/live2d/LAppLive2DManager.js"></script>
  <script src="/js/live2d/SampleApp1.js"></script>
	<script type="text/javascript">
		window.onload = sampleApp1()
	</script>

<%- message %>
<%- include templates/footer%>
