	</div>
	<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap3.0.3.min.js"></script>
	<script type="text/javascript"> 
		$(function(){
			if($(".username").text() == ""){
				$(".display-item").css("display","block");
				$(".my-toggle",".my-toggle b").css("display","none");
			}else{
				$(".display-item").css("display","none");
				$(".my-toggle",".my-toggle b").css("display","block");
			}
			fooN($('.articles>div'),3);
			function fooN(obj,per){ 
				var articles = $(obj);
				if(articles.length>1){ //obj表示需要进行分页的div
					var per = per;
					var obj_parent = $(obj).parent();
					var num = Math.ceil(articles.length/per);
					$(obj_parent).children('.pages').remove();
					$(obj_parent).append("<ul class='pages '><ul>");
					for(var i = 0;i < num;i ++){
						j = i +1;
						$(".pages").append("<li value='"+j+"'>"+j+"</li>");
					}
					var l = ($(".pages li").length + 1)*45 + "px";
					var pageli = $(".pages li");
					var linum = $(obj);
					$(linum).hide(); //先隐藏所有li
					for(var i = 0;i < per;i ++){ //初始显示最后5篇文章
						$(linum[i]).show();
					}
					//分页标签切换
					for(var i = 0;i < pageli.length;i ++){ //点击标签根据标签的value值计算并显示相对应的文章
						$(pageli[i]).on("click",function(){
							var n = $(this).val()-1;
							$(linum).hide();
							for(var i = per*n+1;i <= per*(n+1);i ++){
								$(linum[i-1]).show();
							}
						});
					}
					$(".pages").css("width",l);
					colorToggle($(pageli),{"background":"#428BCA","color":"#fff","border-color":"#428BCA"},{"background":"#fff","color":"#428BCA","border-color":"#ccc"},{"background":"#eee","color":"#428BCA"});
				}
			}
			function colorToggle(obj,a,b,c){ //标签切换样式，obj表示标签数组，a表示标签在click后的样式
        var fir = $(obj).first();    //b表示未被选中的标签失去焦点的样式，c表示获得焦点时的样式
        $(fir).css(a).siblings().css(b).hover(function(){
          $(this).css(c);
        },function(){
          $(this).css(b);
        });
        for(var i = 0;i < obj.length;i ++){
          $(obj[i]).click(function(){
            $(this).css(a).siblings().css(b).hover(function(){
              $(this).css(c);
            },function(){
              $(this).css(b);
            });
            $(this).hover(function(){
            	$(this).css(a);
            },function(){
            	$(this).css(a);
            });
          });
        }
      }
     
		});
	</script>	
</body>
</html>
